/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: 'Roboto Slab', serif;
}

.header {
  text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

.select-row {
  display: flex;
  justify-content: center;
}
.browser-default {
  width: 300px;
}

.select-row {
  height: 47px;
  align-items: center;
}

#increase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  margin-left: 7px;
  font-size: 18px;
}

#decrease-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  margin-right: 7px;
  font-size: 18px;
}

.values-row {
  display: flex;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.values {
  font-family: 'Roboto', sans-serif;
  width: 25%;
  font-size: 24px;
}

.label-value {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.value-text {
  margin-left: 5px;
}

#lançamentos {
  color: black;
}

#valores {
  color: green;
}

#despesas {
  color: red;
}

#saldo {
  color: #59ae49;
}

#filter-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.filter-add-container {
  margin-top: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-lançamento {
  font-family: 'Roboto', sans-serif;
}

.first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
}
.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 100px;
}

.calendar-picker {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-modal {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#type-expense {
  width: 250px;
}

#type-values-selector-1 {
  width: 250px;
}
#type-values-selector-2 {
  width: 250px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 320px;
}

.type-movimentation-container {
  width: 100%;
  margin-right: 20px;
}

.type-transaction-container {
  margin-right: 20px;
}

.description-container {
  padding-top: 10px;
}

#input-lançamento {
  margin-top: 40px;
}

.label-date {
  font-size: 18px;
  padding-bottom: 5px;
}

.add-values-row {
  height: 100px;
}
